#blog-page{
    margin-top: 50px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
    margin-bottom: 10%;
}

.blog-area{
    width: 90%;
    max-width: 1300px;
    /* min-height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}