.home-page{
    user-select: none;
    display: flex;
    position: absolute;
    overflow-y: hidden;
    width: 100%;
    overflow-x: hidden;
    /* height: 100%; */
    padding-bottom: 5%;
    /* margin-bottom: 5%; */
}

.contact-section{
    position: relative;
    /* height: 80svh; */
    /* height: 80%; */
    height: 80svh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;

    hr{
        height: 20%;
        color: #4CCD99;  
    }
}
.contact-section a img:hover{
    transition:ease-in-out all 0.2s ;
    filter: invert(73%) sepia(67%) saturate(347%) hue-rotate(99deg) brightness(99%) contrast(95%);
}

.info-section{
    width: 60%;
    /* margin-top: 5%; */
    /* position: relative; */
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .line-one{
        color: #4CCD99;
    }

    .name{
        font-size: 3rem;
        color: #a0aace;

    }

    .subtitle{
        font-size: 2.5rem;
        color: #848897;
    }


    div p{
        margin: 0;
    }

    div h1{
        margin: 0;
    }

    div h2{
        margin: 0;
    }

    .description{
        font-size: 1rem;
        color: #6f717a;
        line-height: 25px;
    }
}

.image-section{
    width: 30%;
    position: relative;
    left:-5%;
    img{
        width: 100%;
        pointer-events: none;
        opacity: 0.6;
    }
}

@media (max-width:1000px){

    .info-section{
        margin-top: 5%;
        .description{
            width: 130%;
        }
    }

    .image-section{
        justify-content: start;
        align-items: start;
        padding-right: 0;
        position: relative;
        /* left: -7%;
        top: 6%; */
    }


}


@media (max-width: 600px){
    .home-page{
        flex-direction: column-reverse;
        /* height: 100svh; */
    }
    .contact-section{
        height: fit-content;
        margin-top: 20%;
        flex-direction: row;
        /* padding-bottom: 10%; */
        align-items: center;
        justify-content: center;
        hr{
            display: none;
        }
    }

    .info-section{
        width: 100%;
        margin-top: 10%;
        .name{
            font-size: 2rem;
        }
        .subtitle{
            font-size: 1.5rem;
        }
        .description{
            font-size: 1rem;
            width: 80%;
        }
    }

    .image-section{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        left:0;
        img{
            width: 60%;
        }
    }

}

/* @media(max-height:800px){
    .info-section{
        margin-top: 40%;
    }
} */

/* @media(max-height:600px){
    .info-section{
        top:30%;
    }
} */

/* code{
    background-color:#4CCD99;
    padding: 2px 6px;
    color:#848897;
    border-radius: 8px;
} */