#cursor-bg{
    position: absolute;
    width: 400px;
    height: 400px;
    background: #19213b;
    border-radius: 50%;
    filter: blur(200px);
    z-index: -1;
}

@media (max-width: 800px){
    #cursor-bg{
        display: none;
    }
}